@import url('https://fonts.googleapis.com/css2?family=Alice&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Amiri', serif;
    box-sizing: border-box;
}

/*Navbar*/
#topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background-color: #F79A19;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;

    transition: transform 0.3s ease, opacity 0.3s ease;
}



#topnav a {
    color: #8f2829; /* Link color */
    align-items: center; /* Center vertically */
    align-content: center; /* Center content */
    text-align: center; /* Center text */
    padding: 30px 30px; /* Increased padding for larger clickable area */
    text-decoration: none;
    font-size: 25px;
}

#topnav a:hover {
    color: #475a16;
}

#topnav a.active {
    background-color: #475a16;
    color: rgb(255, 255, 255);
}

#topnav a.active:hover{
    background-color: #b73739;
    transition: background-color 0.3s; 
}

/*----------------------------------------*/

/* Inicio */
#inicio{
    height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://cdn.pixabay.com/photo/2023/12/24/15/03/bougainvillea-8467373_1280.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    /*flexbox centering*/
    display: flex;                
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease;
}

#inicio p{
    font-size: 20px;
    margin: 20px 0;
}

#button-login{
    background-color: #1b1b1b69;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#button-login:hover{
    background-color: #272727af;
    transition: background-color 0.5s; 
}

/*----------------------------------------*/

/*modal animation*/
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    position: relative;
    background: #ffffff;;
    width: 500px;
    max-width: 90vw;
    padding: 20px;
    border-radius: 8px;
}

.modal-content input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button{
    width: 100%;
    padding: 10px;
    background: #475a16;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content a{
    text-align: center;
    margin-top: 10px;
    color: #475a16;
    text-decoration: none;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*----------------------------------------*/

#news{
    display: flex;
    padding: 60px;
    text-align: center;
    height: 600px;
    align-items: right;
    align-items: center;
    background-color: #F79A19,;
    color:rgb(0, 0, 0);
    display: flex;
    padding: 70px;
    align-items: center; /* Centraliza tudo verticalmente */
    justify-content: center;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 10px;
    margin: -35px;
    background-color: #f8f8f8;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

#arriba{
    z-index: 1;
}

#abajo{
    z-index: 0;
    height: 80%;
}

.texto-esquerdado {
    margin-right: 170px; 
    text-align: left;
    max-width: 300px; /* Ajuste a largura do texto como quiser */
}

/*footer*/

#footer{
    background-color: #1b1b1b;
    color: white;
    text-align: center;
    padding: 20px;
    height:300px;
}

/*----------------------------------------*/

