@import url('https://fonts.googleapis.com/css2?family=Alice&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Amiri', serif;
    box-sizing: border-box;
}

/*Navbar*/
#topnav {
    background-color: #ffdb9d;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
}


#topnav a {
    color: #8f2829; /* Link color */
    align-items: center; /* Center vertically */
    align-content: center; /* Center content */
    text-align: center; /* Center text */
    padding: 30px 30px; /* Increased padding for larger clickable area */
    text-decoration: none;
    font-size: 25px;
}

#topnav a:hover {
    color: #475a16;
}

#topnav a.active {
    background-color: #475a16;
    color: rgb(255, 255, 255);
}

#topnav a.active:hover{
    background-color: #b73739;
    transition: background-color 0.3s; 
}

/*----------------------------------------*/

/* Inicio */
#inicio{
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.imgur.com/L8NVuGZ.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    /*flexbox centering*/
    display: flex;                
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease;
}

#inicio p{
    font-size: 20px;
    margin: 20px 0;
}

#button-login{
    background-color: #1b1b1b69;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#button-login:hover{
    background-color: #272727af;
    transition: background-color 0.5s; 
}

/*----------------------------------------*/

/*modal animation*/
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    position: relative;
    background: #ffffff;;
    width: 500px;
    max-width: 90vw;
    padding: 20px;
    border-radius: 8px;
}

.modal-content input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button{
    width: 100%;
    padding: 10px;
    background: #475a16;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content a{
    text-align: center;
    margin-top: 10px;
    color: #475a16;
    text-decoration: none;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*----------------------------------------*/

#news{
    padding: 50px;
    text-align: center;
    height: 300px;
}